@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Menú movil */
#mobileMenu {
  transition: transform 0.3s ease-in-out;
}

#mobileMenu.hidden {
  transform: translateX(100%);
}

/* Ocultar scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
